.full-height {
	height: 100%;
}

.nav-banner {
	background-color: #212529;
	padding: 0.5rem 0rem;
	top: 0;
    right: 0;
	left: 0;
	min-height: 8vh;
}

.nav-mainitem {
	font-size: 2rem;
	color: #fff;
	padding: 0.3rem;
	cursor: default;
	text-align: center;
}

.nav-item {
	font-size: 1.5rem;
	color: rgba(255,255,255,.5);
	padding: .3rem;
	cursor: pointer;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* @media screen and (min-width: 1200px) {
	
} */

.nav-item.active {
	color: #fff;
}

.nav-image.active {
	box-shadow: 0px 0px 1px 2px white;
}

.hide {
	visibility: hidden;
}

.big-text {
	font-size: 1.3rem;
}

.bracketDisplay {
	/* background-color: #f0f0f5; */
	padding: 1rem;
	min-height: 400px;
	overflow: auto;
}

.sidebar {
	background-color: #93aed9;
	padding: 1rem;
	color: #212529;
	height: 92vh;
}

.sidebar h2 {
	font-size: 2.3em;
}

.sidebar h4 {
	font-size: 1.8em;
}

.sidebar ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 1.5rem;
}

.sidebar li {
	padding: 0.2rem;
	background-color: rgba(0, 0, 0, 0);
	vertical-align: middle;
	font-size: 1.3em;
	border-radius: 2;
}

.sidebar li.selected {
	background-color: rgba(0, 0, 0, 0.2);
}

.sidebar li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.standingsDisplay {
	padding: 1.2rem;
}

.standingsDisplay .teamItem {
	border-radius: 2;
}

.standingsDisplay .teamItem:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.userDisplay {
	padding: 1rem;
}

.userDisplay * {
	margin-bottom: 1.2rem;
}

.loginDisplay {
	padding: 1rem;
}

.teamDisplay {
	padding: 1.2rem;
}

.teamDisplay h2 {
	font-size: 2.3em;
}