<div class="container-fluid">
	<div *ngIf="player.user$ | async as user; else login" class="row nav-banner align-items-center">
		<div class="col-xl-1 col-md-2 nav-mainitem">
			Tourney
		</div>
		<div 
			class="col-xl-1 col-md-2 nav-item" 
			[class.active]="window=='tournament'" 
			[class.hide]="!player.user$" 
			(click)="window='tournament'"
		>
			Tournament
		</div>
		<div 
			class="col-xl-1 col-md-2 nav-item" 
			[class.active]="window=='standings'" 
			[class.hide]="!player.user$" 
			(click)="window='standings'"
		>
			Standings
		</div>
		<div 
			class="col-xl-1 col-md-2 nav-item"
			[class.active]="window=='matches'"
			[class.hide]="!player.user$"
			(click)="window='matches'"
		>
			Matches
		</div>
		<div 
			class="col-xl-1 col-md-2 nav-item"
			[class.active]="window=='teams'"
			[class.hide]="!player.user$"
			(click)="window='teams'"
		>
			Teams
		</div>
		<div class="col-xl-6 d-none d-xl-block"></div>
		<div class="col-xl-1 col-md-2" style="text-align: center;">
			<img src="{{user.photoURL}}" class="rounded nav-image" [class.active]="window=='account'" height=60 style="margin-right: 0.5rem;" (click)="window='account'"/>
		</div>
	</div>
	<ng-template #login>
		<div class="row nav-banner align-items-center">
			<div class="col-lg-1 col-md-2 nav-mainitem">
				Tourney
			</div>
			<div class="col-lg-10 col-md-8"></div>
			<div class="col-lg-1 col-md-2" style="text-align: center;">
				<button class="btn btn-outline-success my-2 my-sm-0 big-text" (click)="player.googleSignIn()">Log In</button>
			</div>
		</div>
	</ng-template>

	<div *ngIf="player.user$ | async; else loginPage">
		<div *ngIf="window == 'tournament' || window == 'standings' || window == 'matches'" class="row full-height">
			<div class="col-xl-2 col-md-4 sidebar">
				<h2>Tournaments</h2>
				<ul>
					<!-- (click)="tournaments.createTourney()" -->
					<li>
						+ Create new
					</li>
				</ul>
				<h4>Current</h4>
				<ul>
					<li 
						*ngFor="let tourney of sidebarInfo.tournaments.upcoming"
						[class.selected]="sidebarInfo.tournaments.selected==tourney"
						(click)="sidebarInfo.tournaments.selected=tourney"
					>
						{{tourney.data.name}}
					</li>
				</ul>
				<h4>Past</h4>
				<ul>
					<li 
						*ngFor="let tourney of sidebarInfo.tournaments.past"
						[class.selected]="sidebarInfo.tournaments.selected==tourney"
						(click)="sidebarInfo.tournaments.selected=tourney"
					>
						{{tourney.data.name}}
					</li>
				</ul>
			</div>
			<div *ngIf="window=='tournament'" class="col-xl-10 col-md-8 bracketDisplay"></div>
			<div *ngIf="window=='standings'" class="col-xl-10 col-md-8 standingsDisplay">
				<div *ngIf="sidebarInfo.tournaments.selected && sidebarInfo.tournaments.selected.data.format == 'bracket'">
					<div *ngFor="let group of standingsInfo[sidebarInfo.tournaments.selected.ref.path]">
						<h4>{{group.name}}</h4>
						<table class="table">
							<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Series Wins</th>
								<th scope="col">Series Losses</th>
								<th scope="col">Game Wins</th>
								<th scope="col">Game Losses</th>
							</tr>
							</thead>
							<tbody>
							<tr 
								*ngFor="let team of group.teams | keyvalue" 
								class="teamItem"
							>
								<th scope="row">{{team.value.name}}</th>
								<td>{{team.value.record.seriesWins}}</td>
								<td>{{team.value.record.seriesLosses}}</td>
								<td>{{team.value.record.gameWins}}</td>
								<td>{{team.value.record.gameLosses}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="window == 'teams'" class="row full-height">
			<div class="col-xl-2 col-md-4 sidebar">
				<h2>Teams</h2>
				<ul>
					<li (click) = "createTeam();">+ Create new</li>
					<hr style="margin: 0px">
					<li 
						*ngFor="let team of (player.teams.subject$() | async | keyvalue)"
						[class.selected]="sidebarInfo.teams.selected==team.value"
						(click)="sidebarInfo.teams.selected=team.value"
					>
						{{team.value.name}}
					</li>
				</ul>
			</div>
			<div class="col-xl-10 col-md-8 teamDisplay">
				<div *ngIf="sidebarInfo.teams.selected">
					<h2>{{sidebarInfo.teams.selected.name}}</h2>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="window == 'account'" class="row userDisplay">
		<div *ngIf="player.user$ | async as user">
			<h2>{{user.name}}</h2>
			<input 
				class="form-control" 
				placeholder="Enter IGN" 
				[ngModel]="user.ign || ''" 
				(ngModelChange)="user.ign=$event; userDetailInfo.changed=true;"
			/>
			<button 
				style="margin-bottom: 2.3rem;" 
				[class.btn-primary]="!!userDetailInfo.changed" 
				[class.btn-outline-primary]="!userDetailInfo.changed" 
				class="btn big-text" 
				(click)="player.updateIgn(user.ign); userDetailInfo.changed=false;"
			>
				Save
			</button><br/>
			<button class="btn btn-outline-success my-2 my-sm-0 big-text" (click)="player.signOut(); window='tournament'">Sign Out</button>
		</div>
	</div>
	<ng-template #loginPage>
		<div class="loginDisplay">
			<h2>Please Log In</h2>
			<h4>(Fun stuff will be here eventually)</h4>
		</div>
	</ng-template>
</div>

<router-outlet></router-outlet>